body {
	font-family: Arial, Helvetica;
	background-color: #a3a3a3;
	font-size: 20px;
}
form {
	border: 3px solid #f3f3f3;
}
.formcontainer {
	padding: 20px;
}
input{
	width: 100%
	box-sizing: border-box;
	display: block;
	margin: 20px 0;
}
button {
	 padding: 15px 20px;
	 background-color: fb4747;
	 margin: 20px 0;
	 box-sizing: border-box;
	 display: block;
	 width: auto;
}	

	